html {
    background-image: linear-gradient(#FC5E55, #FA4083);
}

body {
    background-position: top center; 
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 1.125rem;
}

a {
    color: white;
    text-decoration: none;
}


.container {
    width: 1024px;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
}

header {
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid lightgrey;
}

.navbutton {
    border: 1px solid white;
    padding: 11px 25px;
    font-family: 'Playfair Display', serif;
    display: inline-block;
    position: relative;
}

main {
    min-height: 300px;
    display: flex;
    align-items: center;
}

.footer-social a {
    color: white;
}

#footer-heading {
    color: white;
  }

  .footer-bottom {
    color: white;
  }
  
  footer {
    padding-top: 40px;
    background-color: gray;
    height: 200px;
    text-align: center;
  }
  
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  
  .fa:hover {
    opacity: 0.7;
  }
  
  .fa-facebook {
    color: white;
  }
  
  .fa-twitter {
    color: white;
  }
  
  .fa-instagram {
    color: white;

  }
=======
}
html {
    background-image: linear-gradient(#FC5E55, #FA4083);
}

body {
    background-position: top center;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 1.125rem;
}

a {
    color: white;
    text-decoration: none;
}


.container {
    width: 1024px;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
}

header {
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid lightgrey;
}

.navbutton {
    border: 1px solid white;
    padding: 11px 25px;
    font-family: 'Playfair Display', serif;
    display: inline-block;
    position: relative;
}

main {
    min-height: 300px;
    display: flex;
    align-items: center;
}

.footer-social a {
    color: white;
}

#footer-heading {
    color: white;
}

.footer-bottom {
    color: white;
}

footer {
    padding-top: 40px;
    background-color: gray;
    height: 200px;
    text-align: center;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    color: white;
}

.fa-twitter {
    color: white;
}

.fa-instagram {
    color: white;
}

